nav.navbar{
    background-color: #20232b;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 1;
}

a.title{
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 3%;
    top: 20%;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 0 5px 15px #000000;
}


.navbar-links a {
  margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #c7c7c7;
  }

  .navbar-links a:hover {
    color: aliceblue;
  }

.navbar {
    content: '';
    width: 100%;
    box-shadow: 0 2px 15px rgb(0, 0, 0); /* Sombra del borde */
  }


ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 18px;
}
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  .navbar-links a {
    /* margin-left: 100px; */
    /* margin-right: 1rem; */
    text-decoration: none;
    color: #cccc;
  }
  
  .navbar-links a:hover {
    color: rgba(240, 248, 255, 0.822);
  }
  
  .navbar{
    content: '';
    display: block;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.774);
  }
  
  /* Estilos para la barra de búsqueda */
  .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1%;
    /* margin-left: 30px; */
  }
  
  .search-input {
    width: 300px;
    background-color: #c0c0c0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
    margin-top: 50px;
  }

  .search-input:focus{
    outline: none;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    background-color: #9f111b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #850e16;
  }
  